#home {
    background-image: url(img/sunrise3.jpg);
    height: 720px;
    position: relative;
}

.navbar {
    margin: 0;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

#about {
    margin-top: 50px;
    text-align: center;
    height: 900px;
}



.summaryparagraph {
    font-size: 1.3em;
}

.glyphicon {
    margin-right: 6px;
}

.info {
    margin-top: 20px;
}

.info p {
    text-align: left;
    margin: 0 50px;
}

.divsignup {
    text-align: left;
    margin: 20px 0 0 50px;
}

#download {
    background-color: lightblue;
    text-align: center;
    margin-top: 50px;
    height: 900px;
}

.paragraph {
    margin-top: 200px;
}

@media(min-width:767px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

